.container {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.hog{
    margin-top: 100px;

}
.page{
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 1200px) {
    .card {
        width: calc(50% - 8px);
    }
}

@media screen and (max-width: 576px) {
    .card {
        width: 100%;
    }

    .cards {
        gap: 0px;
    }
}


.textcolor{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: rgba(112, 26, 233, 0.947);
}

/* .levo{
    color: rgba(112, 26, 233, 0.947);
    font-size: 60px;
    padding-left: 400px;
}

.levo2{
    color: rgba(112, 26, 233, 0.947);
    font-size: 60px;
    padding-left: 400px;
}

.pravo{
    color: rgba(112, 26, 233, 0.947);
    font-size: 60px;
    padding-left: 1100px;
}

.pravo2{
    color: rgba(112, 26, 233, 0.947);
    font-size: 60px;
    padding-left: 1100px;
} */

.about {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    font-size: 60px;
    color: rgba(112, 26, 233, 0.947);
}

.bottom {
    display: flex;
    justify-content: space-between;
    font-size: 60px;
    color: rgba(112, 26, 233, 0.947);
}

.text{
    max-width: 80%;
    padding: 0px 40px;
    font-weight: bold;
    font-size: 20px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gup{
    font-size: 40px;
    font-weight: bold;
    color: black;


    max-width: 80%;
    padding: 0px 40px;
    padding-bottom: 10px;
    width: 100%;
}