.footer {
    background-color: rgb(109, 18, 184);
    width: 100%;
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: #fff;
    
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 4px 12px rgba(0, 0, 0, 0.05);

    display: flex;
    align-items: center;
    
    justify-content: space-between;
    padding: 40px;
    
}

.footer2 {
    
    align-items: center;
   
    
   
   
}

.footercontainer {
    z-index: -1;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: rgb(0, 0, 0);
    padding: 60px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    
}

.logo{
    color: #fff;
    font-family: Impact;
    font-size: 80px;
    display: flex;
    padding-left: 50px;
   
    
   
   
}
.text{
    color: #fff;
    font-size: 30px;
    font-family: Impact;
    display: flex;
    padding-left: 50px;
    margin-bottom: 30px;
    
}
.text2{
    color: #5e5959;
    font-size: 30px;
    font-family: Impact;
    display: flex;
    padding-left: 50px;
    
}

.text3{
    color: #5e5959;
    font-size: 30px;
    font-family: Impact;
    display: flex;
    padding-left: 50px;
    margin-bottom: 30px;
}
.text4{
    color: #5e5959;
    font-size: 30px;
    font-family: Impact;
    display: flex;
    margin-left: 50px;
    
}

.pages{
    display: flex;
    order: 2;
    font-size: 75px;
    gap: 15px;
    
}
.pages img {
    margin-right: 10px; 
    width: 90px; 
    height: auto;
    
  }
.info{
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    
    text-decoration: none;
    
}
.pages1{
    display: flex;
    
    font-size: 75px;

}
