.tag {
  color: black;
  display: flex;
  margin-left: 0px;
  font-size: 70px;
  margin-bottom: 10px;
  animation: RightToLeft 2s ease-in-out forwards;
  
}

@keyframes leftToRight {
  from {
    transform: translateX(-100%)
  }
  to {
    transform: translateX(0%)
  }
}

@keyframes RightToLeft {
  from {
    transform: translateX(100%)
  }
  to {
    transform: translateX(0%)
  }
}

.tag2 {
  color: black;
  display: flex;
  margin-left: 2%;
  font-size: 70px;
  margin-bottom: 10px;
  animation: 'test';
  animation: leftToRight 2s ease-in-out forwards;
  
}
.tag3{
  color: rgb(37, 150, 156);
  display: flex;
  margin-right: 2%;
  margin-left: 2%;
  font-size: 70px;
  
}

.footer {
  display: flex;
  justify-content: center;

  margin: 60px 0px;
  margin-bottom: 500px;
}

.container {
  width: 1120px;
  left: 40px;
  top: 200px;
  height: 1px;
  zoom: 1.692;

}

.cardlogo{

  
 
  
}
.cardlogodiv{
    left: 40px;
    top: 200px;
    zoom: 1;
    position: absolute;
    box-sizing: border-box;
    display: table;

    z-index: 11;
    top: -560px;
    width: 1120px;
    height: 450px;
    
}

.maincard {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}